:root {font: 20 px/1.2 "Roboto", sans-sherif;} /* or html*/
body,
body * {
    margin:     unset;
    box-sizing: unset;
    padding:    unset;
    font-size:   unset;
    color:      unset;
    text-decoration: unset;
}

figure * {  display:  block; }